# Ignore Terraform cache and provider files
.terraform/
# Ignore Terraform state files
*.tfstate
*.tfstate.backup
# Ignore the Terraform lock file
terraform.lock.hcl
# Ignore all Terraform configuration files (if you want to ignore these as well)
*.tf
# You can also ignore specific directories if needed
dev/instances/
